# Swift Package Manager
.build/
.swiftpm/

# Xcode
DerivedData/
*.xcuserstate
*.xcworkspacedata
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# CocoaPods
Pods/
*.xcworkspace
!*.xcodeproj/project.xcworkspace

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage / profiling
*.gcno
*.gcda
*.profdata

# Playgrounds
timeline.xctimeline
playground.xcworkspace
